matplotlib~=3.8.0
networkx~=3.1
numpy~=1.23.5
git+https://github.com/JeremieGince/pennylane.git@v0_32_0-dev1
pfapack~=0.3.1
pytest~=7.4.2
pytest_cov~=4.1.0
pytest_json_report~=1.5.0
pythonbasictools~=0.0.1a10
scipy~=1.11.4
setuptools~=65.5.1
sympy~=1.12
tqdm~=4.66.1

seaborn~=0.13.0
scikit-learn~=1.3.2
pandas~=2.1.3
psutil~=5.9.6